<main>
  <div class="result-area">
    <span><strong>{{quantidade}} pontos </strong>encontrados</span>

      <div class="row g-2">
        {{#each pontos}}
          <div class="col ponto">
            <div class="banner">
              <img src="/images/Reciclagem.svg">
            </div>
            <div class="info">
              <h3>{{entidade}}</h3>
              <p>
                {{itens}}
              </p>
              <span>
                {{cidade}}, {{estado}} <br>
                {{endereco}} <br>
                Nº {{numero}}
              </span>
            </div>
          </div>
          {{else}}
          <div class="text-center">
            <h2>Nenhum ponto de Coleta encontrado</h2>
            <p>Tente buscar por outra cidade ou estado!</p>
          </div>
        {{/each}}
      </div>
  </div>
</main>