<main>
  <div class="row mt-5 align-items-center">
    <div class="col-8">
      <h1>Painel Administrativo</h1>
    </div>
    <div class="col-4">
      <a class="mt-3 button btn-new" href="admin/cadastro">Cadastrar nova Entidade</a>
    </div>
  </div>
  <div class="row border mt-5">
    <div class="col">
      <strong>Entidade</strong>
    </div>
    <div class="col">
      <strong>Cidade</strong>
    </div>
    <div class="col">
      <strong>Estado</strong>
    </div>
    <div class="col">
      <strong>Ação</strong>
    </div>
  </div>

  {{#each pontos}}
    <div class="row border">
      <div class="col">
        {{entidade}}
      </div>
      <div class="col">
        {{cidade}}
      </div>
      <div class="col">
        {{estado}}
      </div>
      <div class="col">
        <a href="admin/altera/{{_id}}">Alterar</a>
        | 
        <a href="admin/deleta/{{_id}}">Deletar</a>
      </div>
    </div>
  {{/each}}
</main>